<?xml version="1.0" encoding="utf-8" ?>
<!--
	This module contains targets for installing and configuring the BlackBox app application.
	Copyright (C) 2024 Crayon
-->

<Configuration>
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="WorkerApp"
    Prompt="Enter name of the BlackBox Worker app (default: BlackBox.exe)"
    Default="BlackBox.exe"
  />

  <Setting
    Name="WorkerAppPath"
    Prompt="Enter folder path to the BlackBox Worker app (default: C:\BlackBox\Worker)"
    Default="C:\BlackBox\Worker"
  />

  <Setting
    Name="WorkerZipFile"
    Prompt="Enter name of BlackBox install archive (default: blackbox.package.zip)"
    Default="blackbox.package.zip"
  />

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- test targets -->
	<Target Name="ListBlackBoxFolders" Description="List BlackBox worker local sub-folders">
		<Step Load="BlackBoxWorkerInstall.ps1"/>
		<Step Call="ListBlackBoxFolders"/>
	</Target>

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- configuration targets -->
	<Target Name="ResetBlackBoxWorker" Description="Reset BlackBox settings">
		<Step Load="BlackBoxWorkerInstall.ps1"/>
		<Step Call="ClearBlackBoxWorkerEnvironmentVariables"/>
	</Target>

	<!-- install targets -->
	<Target Name="InstallBlackBoxWorkerLocally" Description="Install BlackBox worker app components to a local sub-folder">
		<Step Load="BlackBoxWorkerInstall.ps1"/>
		<Step Call="InstallBlackBoxWorkerLocally"/>
	</Target>

	<Target Name="InstallBlackBoxWorker" Description="Install BlackBox worker app components">
		<Step Load="BlackBoxWorkerInstall.ps1"/>
		<Step Call="InstallBlackBoxWorkerLocally"/>
	</Target>

	<Target Name="UninstallBlackBoxWorker" Description="Uninstall BlackBox worker app components">
		<Step Call="UninstallBlackBoxWorker" Load="BlackBoxWorkerInstall.ps1"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallAll">
		<Step Target="InstallBlackBoxWorker" If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"/>
		<!--<Step Target="ConfigureScheduledTasks"/>-->
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallBlackBoxWorker" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<!--<Step Target="ApplyBlackBoxAppServerCustomizations"/>-->
	</Target>
</Configuration>
