<?xml version="1.0" encoding="utf-8" ?>
<!--
	This module contains targets for installing and configuring the BlackBox app application.
	Copyright (C) 2024 Crayon
-->

<Configuration>
	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- App server targets -->
	<Target Name="ConfigureWindowsFeaturesForBlackBox" Description="Configure Windows Features For BlackBox">
		<Step Load="BlackBoxWorkerInstall.ps1"/>
		<Step Call="ConfigureWindowsFeaturesForBlackBox"/>
	</Target>

	<Target Name="InstallBlackBoxWorker" Description="Install BlackBox worker app components">
		<Step Load="BlackBoxWorkerInstall.ps1"/>
		<!--<Step Call="ConfigureWindowsFeaturesForBlackBox"/>-->
		<Step Call="InstallBlackBoxWorker"/>
	</Target>

	<Target Name="UninstallBlackBoxWorker" Description="Uninstall BlackBox worker app components">
		<Step Call="UninstallBlackBoxWorker" Load="BlackBoxWorkerInstall.ps1"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallAll">
		<Step Target="InstallBlackBoxWorker" If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"/>
		<!--<Step Target="ConfigureScheduledTasks"/>-->
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallBlackBoxWorker" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<!--<Step Target="ApplyBlackBoxAppServerCustomizations"/>-->
	</Target>
</Configuration>
