<?xml version="1.0" encoding="utf-8" ?>
<!--
  This module contains targets for installing and configuring the BlackBox adapters
  Copyright (C) 2024 Crayon
-->

<Configuration>
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <!--
  ConnectionString="Password=Ak7sBQquS7Z4HTgm;Persist Security Info=True;User ID=fnms-service;Initial Catalog=FNMSStaging;Data Source=fnms-nprd-sql-mi.3bfe2199f719.database.windows.net" 
  -->
 
  <Setting
    Name="AdapterConnectionStringUserID"
    Prompt="Enter adapter connection string user ID"
    Default="TOYWORLDS\svc-blackbox"
  />

  <Setting
    Name="AdapterConnectionStringPassword"
    Prompt="Enter adapter connection string password"
    Default="password"
  />

  <Setting
    Name="AdapterConnectionStringHost"
    Prompt="Enter adapter connection string host server"
    Default="localhost"
  />

  <!--
    Username="agl.int\svc_fnmsprc_tst" 
    Password="2|AAQAAANCMnd8BFdERjHoAwE/Cl+sBAAAABYeDL2bneEq0NblmXcgtpgQAAAACAAAAAAADZgAAwAAAABAAAABOMpG/ySiKMtggmEnm4iFjAAAAAASAAACgAAAAEAAAAMz6MfBz38EVKQD/Xrns0cgoAAAAmtHNIQqhV+Tw7IYpbQ1lpuw8ltj/QyDQpykOGbGvrw7zojxHb/5gghQAAACHDV2YTshuF5dYs3orCT0bXU/rvA=="
  -->
  
  <Setting
    Name="AdapterImpersonateUser"
    Prompt="Enter user to impersonate when running adapters"
    Default="TOYWORLDS\svc-blackbox"
  />

  <Setting
    Name="AdapterImpersonateUserPassword"
    Prompt="Enter password for user to impersonate when running adapters"
    Default="password"
  />

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="BuildContractsAdapter" Description="Build the Contracts adapter">
    <Step Load="BuildContractsAdapter.ps1"/>
    <Step Call="BuildContractsAdapter"/>
  </Target>

  <Target Name="BuildAglPurchasesAdapter" Description="Build the AglPurchases adapter">
    <Step Load="BuildAglPurchasesAdapter.ps1"/>
    <Step Call="BuildAglPurchasesAdapter"/>
  </Target>

  <Target Name="CopyAdaptersToBeacon" Description="Copy Adapters to Beacon">
    <Step Load="Adapters.ps1"/>
    <Step Call="CopyAdaptersToBeacon"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="ConfigureAllAdapters" Description="Install and configure all adapters">
    <Step Target="BuildContractsAdapter"/>
    <Step Target="BuildAglPurchasesAdapter"/>
    <Step Target="CopyAdaptersToBeacon"/>    
  </Target>

  <!--
    GLOBAL TARGETS
    The following declarations register steps with global targets.
    Other modules may also add steps to these same targets.
  -->

  <Target Name="InstallAll">
    <Step Target="ConfigureAllAdapters"/>
  </Target>

  <Target Name="UninstallAll">
    <!--<Step Target="ConfigureScheduledTasks"/>-->
  </Target>

</Configuration>
