<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="LiveImplFilesDir"
    Prompt="Enter folder path to the live ImplFiles dir (default: C:\BlackBox\ImplFiles)"
    Default="C:\BlackBox\ImplFiles"
  />

  <Setting
    Name="LiveWorkingContentDir"
    Prompt="Enter folder path to the live WorkingContent dir (default: C:\BlackBox\WorkingContent)"
    Default="C:\BlackBox\WorkingContent"
  />

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="GitHubCrayonBlackBoxDir"
    Prompt="Enter folder path to the GitHubCrayon Blackbox dir (default: [gh]\workspace\BlackBox)"
    Default="D:\GitHubCrayon\workspace\BlackBox"
  />

  <Setting
    Name="GitHubBlackBoxDir"
    Prompt="Enter folder path to the GitHub Blackbox dir (default: [gh]\BlackBox)"
    Default="D:\GitHub\BlackBox"
  />

	<!--
		SUPPORT TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CopyDevPublishedToGitHub" Description="Copy files from DEV published to GitHub">
		<Step Load="GitHub.ps1"/>
		<Step Call="CopyDevPublishedToGitHub"/>
	</Target>

	<Target Name="CopyLiveImplFilesToGitHub" Description="Copy files from Live ImplFiles to GitHub">
		<Step Load="GitHub.ps1"/>
		<Step Call="CopyLiveImplFilesToGitHub"/>
	</Target>

	<Target Name="CopyLiveWorkingContentToGitHub" Description="Copy files from Live WorkingContent to GitHub">
		<Step Load="GitHub.ps1"/>
		<Step Call="CopyLiveWorkingContentToGitHub"/>
	</Target>

	<!--
		SUPPORT TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CopyDevPublishedToGitHubCrayon" Description="Copy files from DEV published to GitHub">
		<Step Load="GitHub.ps1"/>
		<Step Call="CopyDevPublishedToGitHubCrayon"/>
	</Target>

	<Target Name="CopyLiveImplFilesToGitHubCrayon" Description="Copy files from Live ImplFiles to GitHub">
		<Step Load="GitHub.ps1"/>
		<Step Call="CopyLiveImplFilesToGitHubCrayon"/>
	</Target>

	<Target Name="CopyLiveWorkingContentToGitHubCrayon" Description="Copy files from Live WorkingContent to GitHub">
		<Step Load="GitHub.ps1"/>
		<Step Call="CopyLiveWorkingContentToGitHubCrayon"/>
	</Target>

	<!--
		SUPPORT TARGETS
		The following declarations define targets that are local to this module.
	-->

  <Target Name="UpdateGitHubFiles" Description="Update GitHub files">
    <Step Target="CopyDevPublishedToGitHub"/>  	
    <Step Target="CopyLiveImplFilesToGitHub"/>
    <Step Target="CopyLiveWorkingContentToGitHub"/>    
  </Target>

  <Target Name="UpdateGitHubCrayonFiles" Description="Update GitHubCrayon files">
    <Step Target="CopyDevPublishedToGitHubCrayon"/>  	
    <Step Target="CopyLiveImplFilesToGitHubCrayon"/>
    <Step Target="CopyLiveWorkingContentToGitHubCrayon"/>    
  </Target>
	
</Configuration>
