<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
	<ConfigSettings StoreInRegistry="true"/>
	<!-- OR: <ConfigSettings File="blackbox.settings"/>-->

	<Load Script="FlexAdmin\FlexAdminFunctions.ps1"/>
	<Load Script="FlexAdmin\FNMSFunctions.ps1"/>

	<Module Path="Kernel"/>
	<Module Path="Database"/> <!-- Targets from the "Database" and "Install" modules should be run before others -->
	<Module Path="Install"/>
	<Module Path="Adapters"/>	
	<Module Path="Automation"/>	
	<Module Path="*"/>

  <!-- 
    GLOBAL SETTINGS
    The following declarations define settings that are global to bbadmin
  -->

	<Setting
		Name="LogDir"
		Prompt="Enter full path to the directory to contain bbadmin log files (default: C:\BlackBox\LogFiles)"
		Default="C:\BlackBox\LogFiles"
		Validate="ValidateDirExists"
	/>

	<Setting
		Name="BlackInstallDir"
		Prompt="Enter path of the installation directory for BlackBox (default: blank = use default installation location)"
	/>

	<Setting
		Name="BlackWebInstallDir"
		Prompt="Enter path of the installation directory for the BlackBox web server (default: blank = use default installation location)"
	/>

	<Setting
		Name="BlackBoxAppServerFQDN"
		Prompt="Enter hostname of the BlackBox app server"
	/>

	<Setting
		Name="BlackBoxDBServer"
		Prompt="Enter Microsoft SQL Server instance name (and port number if necessary) for the BlackBox databases (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
	/>

	<Setting
		Name="BlackBoxDBName"
		Prompt="Enter name for the BlackBox database (default: FNMSStaging)"
		Default="FNMSStaging"
	/>

	<Setting
		Name="BlackBoxWebServerFQDN"
		Prompt="Enter FQDN used to connect to the BlackBox web server"
	/>

	<Setting
		Name="BlackBoxWebAccessProtocol"
		Prompt="Enter protocol (http or https) end users will use when accessing the BlackBox web interface (default: http)"
		Default="http"
		Validate="ValidateWebAccessProtocol"
	/>

	<Setting
		Name="BlackBoxServiceAccount"
		Prompt="Enter qualified name (&lt;DOMAIN>\&lt;logon>) of the BlackBox service account"
	/>

	<!-- 
		GLOBAL TARGETS
		The following declarations register steps with global targets.   
		Be aware that other modules may also add steps to these same targets.  
	-->
	
	<!-- 
		The following targets are placeholders for global targets.   They are not strictly required.
		This provides a convenient single place to set each target's description.
		Sub module may add their targets as dependencies of these targets where applicable. 
	-->
	<Target Name="InstallAll" Description="Execute all steps to install and configure databases and software components for an operational BlackBox server environment"/>
	<Target Name="UninstallAll" Description="Uninstall any BlackBox server software components found currently installed"/>
	<Target Name="ApplyAllCustomizations" Description="Apply all customizations"/>
	<Target Name="ConfigureScheduledTasks" Description="Configure custom scheduled tasks that various modules define"/>
</Configuration>
