<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
	<Module Path="Worker"/>	
	<Module Path="WebServer"/>

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="WorkerAppMode"
    Prompt="Enter mode in wich to run the worker app (default: local)"
    Default="local"
  />

  <Setting
    Name="StagingDatabase"
    Prompt="Enter the name of the Staging database (default: FNMSStaging)"
    Default="FNMSStaging"
  />

  <Setting
    Name="FNMSComplianceDatabase"
    Prompt="Enter the name of the FNMSCompliance database (default: FNMSCompliance)"
    Default="FNMSCompliance"
  />

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- App server targets -->
	<Target Name="ConfigureWindowsFeaturesForBlackBox" Description="Configure Windows Features For BlackBox">
		<Step Load="BlackBoxInstall.ps1"/>
		<Step Call="ConfigureWindowsFeaturesForBlackBox"/>
	</Target>

	<Target Name="InstallBlackBox" Description="Install BlackBox components">
		<Step Load="BlackBoxInstall.ps1"/>
		<Step Call="WriteScriptInfo"/>
		<Step Call="ConfigureWindowsFeaturesForBlackBox"/>
	</Target>

	<Target Name="UninstallBlackBox" Description="Uninstall BlackBox components">
		<Step Call="UninstallBlackBox" Load="BlackBoxInstall.ps1"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallAll">
		<Step Target="InstallBlackBox" If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"/>
		<!--<Step Target="ConfigureScheduledTasks"/>-->
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallBlackBox" If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<!--<Step Target="ApplyBlackBoxAppServerCustomizations"/>-->
	</Target>
	
</Configuration>
