<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This module contains targets for creating and configuring BlackBox databases.
  Copyright (C) 2024 Crayon
-->
<Configuration>
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

  <Target Name="CheckBlackBoxDatabase" Description="Check BlackBox database">
    <Step Load="Database.ps1"/>
    <!--<Step Call="PerformDatabaseChecks"/>-->   
    <Step SQLScript="CheckCompatibilityLevel.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/> 
  </Target>

  <Target Name="CreateBlackBoxDatabase" Description="Create the BlackBox database">
    <Step Load="Database.ps1"/>
    <Step Call="CreateBlackBoxDatabase"/>      	
  </Target>

  <Target Name="ConfigureBlackBoxDatabaseSchema" Description="Configure BlackBox database schema">
    <Step SQLScript="BlackBox.Settings.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Jobs.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Files.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.DataMappings.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>    
    <Step SQLScript="BlackBox.DataSources.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Contacts.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Datasets.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Adapters.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Logs.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.FNMS.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Lists.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.MetaData.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Staging.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Processing.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Validation.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Validation.Procedures.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Validation.Assets.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Validation.Purchases.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>
    <Step SQLScript="BlackBox.Validation.ValidationLists.sql" DBServer="$(BlackBoxDBServer)" DBName="$(BlackBoxDBName)"/>   
  </Target>

  <Target Name="ConfigureBlackBoxDatabase" Description="Create and configure BlackBox databases">
    <!--<Step Target="CheckBlackBoxDatabase"/>-->
    <Step Target="CreateBlackBoxDatabase"/> 
    <Step Target="ConfigureBlackBoxDatabaseSchema"/>
  </Target>

  <!--
    GLOBAL TARGETS
    The following declarations register steps with global targets.
    Be aware that other modules may also add steps to these same targets.
  -->

  <Target Name="ConfigureAllDatabases">
    <Step Target="ConfigureBlackBoxDatabases" If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"/>
  </Target>
</Configuration>
