<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="FileID"
    Prompt="Enter the Uploaded FileID (default: 1000)"
    Default="1000"
  />

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- App server targets -->
	<Target Name="UploadJob" Description="Complete UploadJob processing">
		<Step Load="BlackBoxAutomation.ps1"/>
		<Step Call="CompleteUploadJob"/>
	</Target>

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- App server targets -->
	<Target Name="ListBlackBoxFiles" Description="List uploaded BlackBox files">
		<Step Load="BlackBoxAutomation.ps1"/>
		<Step Call="ListBlackBoxFiles"/>
	</Target>

	<Target Name="ProcessScheduledBlackBoxFiles" Description="Process uploaded and scheduled BlackBox files">
		<Step Load="BlackBoxAutomation.ps1"/>
		<Step Call="ProcessScheduledBlackBoxFiles"/>
	</Target>

	<Target Name="DoBlackBoxValidateAction" Description="Run the BlackBox Validate Action">
		<Step Load="BlackBoxAutomation.ps1"/>
		<Step Call="DoBlackBoxValidateAction"/>
	</Target>

	<Target Name="ConfigureProcessScheduledBlackBoxFilesScheduledTask" Description="Configure a scheduled task to process all scheduled files">
		<Step ScheduleBlackBoxAdminTarget="ProcessScheduledBlackBoxFiles"
			TaskName="BlackBox\Process Scheduled Uploaded Files"
			ScheduleOptions="/sc DAILY /ri 5 /st 00:00:00 /du 24:00 /rl HIGHEST"
			RunAs="$(BlackBoxServiceAccount)"
			If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"			
		/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->
	
</Configuration>
