<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="FileID"
    Prompt="Enter the Uploaded FileID (default: 1000)"
    Default="1000"
  />

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- App server targets -->
	<Target Name="UploadJob" Description="Complete UploadJob processing">
		<Step Load="BlackBoxAutomation.ps1"/>
		<Step Call="CompleteUploadJob"/>
	</Target>

	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- App server targets -->
	<Target Name="DoBlackBoxValidateAction" Description="Run the BlackBox Validate Action">
		<Step Load="BlackBoxAutomation.ps1"/>
		<Step Call="DoBlackBoxValidateAction"/>
	</Target>


	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->
	
</Configuration>
