<?xml version="1.0" encoding="utf-8" ?>
<!--
	This module contains targets for installing and configuring the BlackBox app application.
	Copyright (C) 2024 Crayon
-->

<Configuration>
	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<!-- Appb server targets -->
	<Target Name="InstallBlackBoxAppServer" Description="Install BlackBox app server components">
		<Step Load="BlackBoxInstall.ps1"/>
		<Step Target="ConfigureWindowsFeaturesForBlackBox"/>
		<Step Call="InstallBlackBoxAppServer"/>
	</Target>

	<Target Name="UninstallBlackBoxAppServer" Description="Uninstall BlackBox app server components">
		<Step Call="UninstallBlackBoxAppServer" Load="BlackBoxInstall.ps1"/>
	</Target>

	<!--
		GLOBAL TARGETS
		The following declarations register steps with global targets.
		Other modules may also add steps to these same targets.
	-->

	<Target Name="InstallAll">
		<Step Target="InstallBlackBoxAppServer" If="(GetConfigValue 'InstallAppServerComponents') -eq 'Y'"/>
		<!--<Step Target="ConfigureScheduledTasks"/>-->
	</Target>

	<Target Name="UninstallAll">
		<Step Target="UninstallBlackBoxAppServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
	</Target>

	<Target Name="ApplyAllCustomizations">
		<!--<Step Target="ApplyBlackBoxAppServerCustomizations"/>-->
	</Target>
</Configuration>
