<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Kernel.Checks" Version="1.0" Description="A collection of core functions that support other modules">
    <Help>
The Kernel module implements key functions that are expected to be used across other modules.
Targets include:
  * CheckIISFeatures                       Check FNMS pre-requistite IIS features 
	* ConfigureIISFeatures                   Configure FNMS pre-requistite features in IIS

	* CheckNetworkConnections                Checks FNMS network connectivity
	* CheckDatabaseConnections               Checks FNMS database connectivity
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="FNMSWebServerFQDN"
		Prompt="Enter FQDN used to connect to the FlexNet Manager Suite web application server"
    Default="flexapp.flexdemo.com"		
	/>

	<Setting
		Name="FNMSBatchServerFQDN"
		Prompt="Enter hostname of the FlexNet Manager Suite batch server"
    Default="flexapp.flexdemo.com"		
	/>

	<Setting
		Name="FNMSDBServer"
		Prompt="Enter Microsoft SQL Server instance name (and port number if necessary) for the FlexNet Manager Suite databases (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
    Default="flexapp"		
	/>

	<Setting
		Name="FNMSComplianceDBName"
		Prompt="Enter name for the FlexNet Manager Suite compliance database (default: FNMSCompliance)"
		Default="FNMSCompliance"
	/>

	<Setting
		Name="FNMSSnapshotDBName"
		Prompt="Enter name for the FlexNet Manager Suite snapshot database (default: FNMSSnapshot)"
		Default="FNMSSnapshot"
	/>

	<Setting
		Name="FNMSDataWarehouseDBName"
		Prompt="Enter name for the FlexNet Manager Suite data warehouse database (default: FNMSDataWarehouse)"
		Default="FNMSDataWarehouse"
	/>

	<Setting
		Name="ContentStoreDBName"
		Prompt="Enter name for the Flexera Analytics content store database (default: FNMSContentStore)"
		Default="FNMSContentStore"
	/>

	<Setting
		Name="FNMSServiceAccount"
		Prompt="Enter qualified name (&lt;DOMAIN>\&lt;logon>) of the FlexNet Manager Suite service account"
    Default="LEXDEMO\svc-flexeraservice"		
	/>

	<!-- =============== Inventory server specific configuration settings =============== -->
	<Setting
		Name="FNMSInvServerFQDN"
		Prompt="Enter FQDN used to connect to the FlexNet Manager Suite inventory server"
	/>

	<Setting
		Name="FNMSInvDBServer"
		Prompt="Enter Microsoft SQL Server instance name (and port number if necessary) for the FlexNet Manager Suite inventory database (example values: sqlsrv\SQL1 or sqlsrv\SQL1,1434)"
	/>

	<Setting
		Name="FNMSInvDBName"
		Prompt="Enter name for the FlexNet Manager Suite inventory database (default: FNMSInventory)"
		Default="FNMSInventory"
	/>

	<Setting
		Name="FNMSInvSvrIncomingDir"
		Prompt="Enter path of the inventory server incoming logs and inventories directory (default: blank = use default installation location of (ProgramData)\Flexera Software\Incoming\)"
		Optional="True"
	/>
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="FNMSBeaconServerFQDN"
		Prompt="Enter hostname of the Beacon server"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckIISFeatures" Description="Check FNMS pre-requistite IIS features">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>
	</Target>

	<Target Name="ConfigureIISFeatures" Description="Configure FNMS pre-requistite features in IIS">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>		
		<Step Call="ConfigureIISFeaturesForBeacon"/>
	</Target>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckFNMSNetworkConnections" Description="Checks FNMS network connectivity">
		<Step Load="FNMS.ps1"/>
		<Step Call="CheckFNMSNetworkConnections"/>
	</Target>

	<Target Name="CheckFNMSDatabaseConnections" Description="Checks FNMS database connectivity">
		<Step Load="FNMS.ps1"/>
		<Step Call="CheckFNMSDatabaseConnections"/>
	</Target>

</Configuration>
