<?xml version="1.0" encoding="utf-8" ?>
<!--
  This module contains targets for installing and configuring the BlackBox web application.
  Copyright (C) 2024 Crayon
-->

<Configuration>
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

  <Setting
    Name="WebSiteName"
    Prompt="Enter name of the Web Site (default: Default Web Site)"
    Default="Default Web Site"
  />

  <Setting
    Name="WebApplication"
    Prompt="Enter name of the BlackBox Web Application (default: BlackBoxWeb)"
    Default="BlackBoxWeb"
  />

  <Setting
    Name="WebAppPool"
    Prompt="Enter name of the BlackBox AppPool (default: AppPoolBlackBox)"
    Default="AppPoolBlackBox"
  />

  <Setting
    Name="WebSitePath"
    Prompt="Enter folder path to the Web Site files (default: C:\BlackBox\WebSite)"
    Default="C:\BlackBox\WebSite"
  />

  <Setting
    Name="WebSiteContentPath"
    Prompt="Enter folder path to the Web Site content files (default: C:\ProgramData\Crayon\BlackBox)"
    Default="C:\ProgramData\Crayon\BlackBox"
  />

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->

	<Target Name="UpdateLiveFromDevPublished" Description="Copy files to live from DEV published">
		<Step Load="BlackBoxWebInstall.ps1"/>
		<Step Call="UpdateLiveFromDevPublished"/>
	</Target>

	<Target Name="UpdateLiveContentFromDevPublished" Description="Copy content files to live from DEV published">
		<Step Load="BlackBoxWebInstall.ps1"/>
		<Step Call="UpdateLiveContentFromDevPublished"/>
	</Target>

  <Target Name="BuildWebConfig" Description="Build the Web.config file for the web site">
    <Step Load="ConfigureWebsite.ps1"/>
    <Step Call="BuildWebConfig"/>
  </Target>

  <!--
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  
  <Target Name="InstallBlackBoxWebServer" Description="Install BlackBox web server components">
    <Step Load="BlackBoxWebInstall.ps1"/>
    <Step Call="InstallBlackBoxWebServer"/>
  </Target>

  <Target Name="ConfigureWebSite" Description="Configure BlackBox web site">
    <Step Load="ConfigureWebsite.ps1"/>
    <Step Call="BuildWebConfig"/>    
    <Step Call="ConfigureWebSite"/>
  </Target>

  <Target Name="ApplyBlackBoxWebServerCustomizations" Description="Apply BlackBox customizations for the web server.">
    <Step Load="BlackBoxWebInstall.ps1"/>
  </Target>

  <Target Name="UninstallBlackBoxWebServer" Description="Uninstall BlackBox web server components">
    <Step Call="UninstallBlackBoxWebServer" Load="BlackBoxWebInstall.ps1"/>
  </Target>

  <!--
    GLOBAL TARGETS
    The following declarations register steps with global targets.
    Other modules may also add steps to these same targets.
  -->

  <Target Name="InstallAll">
    <Step Target="InstallBlackBoxWebServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
    <!--<Step Target="ConfigureScheduledTasks"/>-->
  </Target>

  <Target Name="UninstallAll">
    <Step Target="UninstallBlackBoxWebServer" If="(GetConfigValue 'InstallWebAppServerComponents') -eq 'Y'"/>
  </Target>

  <Target Name="ApplyAllCustomizations">
    <Step Target="ApplyBlackBoxWebServerCustomizations"/>
  </Target>
</Configuration>
