<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Kernel.Credentials" Version="1.0" Description="A collection of core functions that support other modules">
    <Help>
The Kernel module implements key functions that are expected to be used across other modules.
Targets include:
  * RegisterServiceAccountCredentials      Register Service Account Credentials
  * CheckServiceAccountCredentials         Check Service Account Credentials
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->
	
  <!-- 
    LOCAL TARGETS
    The following declarations define targets that are local to this module.
  -->
  <Target Name="RegisterServiceAccountCredentials" Description="Register Service Account Credentials">
    <Step Load="Credentials.ps1"/>
    <Step Call="RegisterServiceAccountCredentials"/>
  </Target>

  <Target Name="CheckServiceAccountCredentials" Description="Check Service Account Credentials">
    <Step Load="Credentials.ps1"/>
    <Step Call="CheckServiceAccountCredentials"/>
  </Target>	

</Configuration>
