<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
	<Module Path="Certificates"/>	
	<Module Path="Checks"/>
	<Module Path="Credentials"/>	

  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->


	<!--
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="SyncBbAdminSettings" Description="Synch bbadmin settings to registrys">
		<Step Load="Kernel.ps1"/>
		<Step Call="SyncBbAdminSettings"/>
	</Target>

	
</Configuration>
