<?xml version="1.0" encoding="utf-8" ?>
<!-- Copyright (C) 2024 Crayon -->
<Configuration>
  <!-- 
    MODULE IDENTITY
    The following declarations identifies theis module and assists in version control
  -->
  <Identity Name="Kernel.Checks" Version="1.0" Description="A collection of core functions that support other modules">
    <Help>
The Kernel module implements key functions that are expected to be used across other modules.
Targets include:
  * CheckIISFeatures                       Check FNMS pre-requistite IIS features 
	* ConfigureIISFeatures                   Configure FNMS pre-requistite features in IIS

	* CheckNetworkConnections                Checks FNMS network connectivity
	* CheckDatabaseConnections               Checks FNMS database connectivity
    </Help>
  </Identity> 
  
  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->


  <!-- 
    LOCAL SETTINGS
    The following declarations define settings that are local to this module.
  -->

	<Setting
		Name="FNMSServerFQDN"
		Prompt="Enter hostname of the FNMS server"
	/>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckIISFeatures" Description="Check FNMS pre-requistite IIS features">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>
	</Target>

	<Target Name="ConfigureIISFeatures" Description="Configure FNMS pre-requistite features in IIS">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckIISFeaturesForBeacon"/>		
		<Step Call="ConfigureIISFeaturesForBeacon"/>
	</Target>

	<!-- 
		LOCAL TARGETS
		The following declarations define targets that are local to this module.
	-->

	<Target Name="CheckNetworkConnections" Description="Checks FNMS network connectivity">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckNetworkConnections"/>
	</Target>

	<Target Name="CheckDatabaseConnections" Description="Checks FNMS database connectivity">
		<Step Load="Checks.ps1"/>
		<Step Call="CheckDatabaseConnections"/>
	</Target>

</Configuration>
